@font-face {
  font-family: 'sell-icon';
  src:  url('../fonts/sell-icon.eot?pbszr0');
  src:  url('../fonts/sell-icon.eot?pbszr0#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?pbszr0') format('truetype'),
    url('../fonts/sell-icon.woff?pbszr0') format('woff'),
    url('../fonts/sell-icon.svg?pbszr0#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rice_1:before {
  content: "\e901";
}
.icon-box:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\1f5c7";
}
.icon-food .path1:before {
  content: "\e904";
  color: rgb(158, 213, 228);
}
.icon-food .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(21, 75, 139);
}
.icon-food .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(158, 213, 228);
}
.icon-food .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(21, 75, 139);
}
.icon-food .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(158, 213, 228);
}
.icon-food .path6:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(21, 75, 139);
}
.icon-food .path7:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(21, 75, 139);
}
.icon-home:before {
  content: "\e90b";
}
.icon-hot:before {
  content: "\e90c";
}
.icon-star:before {
  content: "\e90d";
}
.icon-pull_left:before {
  content: "\e90e";
}
.icon-rice_2 .path1:before {
  content: "\e90f";
  color: rgb(155, 207, 221);
}
.icon-rice_2 .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(21, 75, 139);
}
.icon-rice_2 .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(252, 252, 252);
}
.icon-rice_2 .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(16, 69, 126);
}
.icon-rice_2 .path5:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(252, 252, 252);
}
.icon-rice_2 .path6:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(16, 69, 126);
}
.icon-rice_2 .path7:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(155, 207, 221);
}
.icon-rice_2 .path8:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(21, 75, 139);
}
.icon-rice_2 .path9:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(155, 207, 221);
}
.icon-rice_2 .path10:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(21, 75, 139);
}
.icon-shop .path1:before {
  content: "\e919";
  color: rgb(16, 69, 126);
}
.icon-shop .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(158, 213, 228);
}
.icon-shop .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(250, 252, 252);
}
.icon-shop .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(21, 75, 139);
}
.icon-shop .path5:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(250, 252, 252);
}
.icon-shop .path6:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(21, 75, 139);
}
.icon-shop .path7:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(250, 252, 252);
}
.icon-shop .path8:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(21, 75, 139);
}
.icon-shop .path9:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(152, 201, 214);
}
.icon-shop .path10:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(21, 75, 139);
}
.icon-addr:before {
  content: "\e923";
}
.icon-order:before {
  content: "\e924";
}
.icon-cart:before {
  content: "\e925";
}
.icon-cart-add:before {
  content: "\e926";
}
.icon-delete:before {
  content: "\e927";
}
.icon-flower:before {
  content: "\e928";
}
.icon-down:before {
  content: "\e929";
}
.icon-right:before {
  content: "\e92a";
}
.icon-place:before {
  content: "\e92b";
}
.icon-car:before {
  content: "\e900";
}
.icon-add:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
